body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.navbar {
  position: relative;
  margin-top: -80px;
  margin-bottom: 25px;
}

.navbar-brand {
  margin-right: 0rem;
}

.nav-item {
  margin-right: 20px;
}

body {
  background-color: #ffffff;
}

.al {
  display: block;
  position: relative;
  padding: 0.2em 0;
}

.al::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 12.5%;
  width: 75%;
  height: 0.1em;
  background-color: #fff;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.al:hover::after,
.al:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.bups {
  width: 98%;
  background-color: #adbed6;
  font-weight: 700;
  margin: 1%;
  padding: 4%;
  font-size: 20px;
  border-radius: 15px;
  border: 2px transparent;
  box-shadow: 0 0 10px #262a49d5;
  margin-bottom: 2%;
}

.ihome {
  width: 100%;
  margin-left: 25%;
  margin-right: 25%;
}

.vl {
  border-left: 6px solid green;
  height: 500px;
}

.buttonn {
  border-radius: 15px;
  background-color: #fff;
  /* border: 2px transparent; */
  color: #262a49;
  text-align: center;
  font-size: 130%;
  display: inline-block;
  width: 46%;
  padding: 15%;
  margin: 2%;
  font-weight: 700;
  box-shadow: 0 0 20px #262a49d5;
}

.buttonn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.hrr {
  height: 2px;
  background-color: #3d3f4ea1;
  width: 98%;
  margin-right: 1%;
}

.bup {
  width: 96%;
  color: #3b4174;
  margin-right: 2%;
  background-color: #c0d3ee8a;
  font-weight: 700;
  padding: 5%;
  border-radius: 10px;
  border: 2px transparent;
}

.buttonn:hover {
  transition: all 0.25s;
  color: #262a49;
  transform: scale(1.05);
}

.bup:hover {
  transition: all 0.25s;
  color: #262a49;
  transform: scale(1.05);
}

.bupp {
  background-color: #adbed68a;
}

.bupp:hover {
  transform: scale(1);
  box-shadow: 0 0 10px #262a49d5;
  transition: all 0.25s;
  color: #262a49;
}

iframe {
  width: 100%;
  height: 85vh;
}

.container-nav {
  width: 65%;
}

@media only screen and (max-width: 1125px) {
  .container-nav {
    width: 85%;
  }
}

@media only screen and (max-width: 850px) {
  a.navbar-brand {
    margin-right: 0rem;
    width: 40%;
  }
  .buttonn {
    width: 46%;
    margin: 2%;
    padding: 10%;
    padding-top: 15%;
    padding-bottom: 15%;
  }
  .bup {
    width: 98%;
    margin-right: 1%;
    background-color: #adbed6;
    font-weight: 700;
    padding: 5%;
    border-radius: 10px;
    border: 2px transparent;
  }
  .container-nav {
    width: 100%;
  }
}

@media only screen and (max-width: 770px) {
  a.navbar-brand {
    margin-right: 0rem;
    width: 50%;
  }
}

@media only screen and (max-width: 350px) {
  a.navbar-brand {
    width: 70%;
  }
}


.ihome {
  width: 100%;
  margin-left: 25%;
  margin-right: 25%;
}

@media only screen and (max-width: 1200px) {
  .ihome {
    width: 100%;
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media only screen and (max-width: 1000px) {
  .ihome {
    width: 100%;
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media only screen and (max-width: 850px) {
  .ihome {
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media only screen and (max-width: 800px) {
  .ihome {
    width: 100%;
    margin-left: 6%;
    margin-right: 6%;
  }
}

@media only screen and (max-width: 750px) {
  .ihome {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
