<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

  {% if title %}
  <title>Cape Castle Search - {{ title }}</title>
  {% else %}
  <title>Cape Castle Search</title>
  {% endif %}
</head>

<body style="background-image:url('');">
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" style="background-color: #191c31;">
      <div class="container">
        <a class="navbar-brand mr-4" href="/">Cape Castle Search</a>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
            <a class="nav-item nav-link" href="{{ url_for('car') }}">Car</a>
            <a class="nav-item nav-link" href="{{ url_for('park') }}">Park</a>
            <a class="nav-item nav-link" href="{{ url_for('emergency') }}">Emergency No.</a>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <body
    style="background-image:url('https://media.discordapp.net/attachments/763767615042224149/849332360088125440/unknown.png'); ">
    <center>
      <img class="img_404"
        src="https://images-ext-1.discordapp.net/external/CMhxQaOYrAJhluin5eIGnw8JcrJ7SW8OxZ12XKwZvDQ/https/cdn.dribbble.com/users/718859/screenshots/3267029/jisunpark_404-error.gif?width=667&height=500">
    </center>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"></script>
  </body>

</html>