{% extends "layout.html" %}
{% block content %}
<div class="ihome content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Request Data from Car Number</legend>
            <div class="form-group">
                {{ form.car.label(class="form-control-label") }}
                {% if form.car.errors %}
                {{ form.car(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.car.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.car(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            <button href="#" class="bup bupp" style="width:100%; padding-top:3%; padding-bottom:3%">
                <span>{{ form.submit(style="background-color:transparent; border:none;") }}</span>
            </button>
        </div>
    </form>

    {% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
            {% for p in post %}
            {{ p }}
            <br>
            {% endfor %}
        </div>
    </article>
    {% endfor %}


    {% endblock content %}