{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Capetown Society Internal Directory Codes</legend>
        CC1 Tower: 670099
        <br>
        CC2 Tower: 680099
        <br>
        <hr>
        </hr>
        Facilities 1: 200101
        <br>
        Facilities 2: 200102
        <br>
        Facilities 3: 1204200994
        <br>
        Facilities 3: 1204263405
        <br>
        <hr>
        </hr>
        Main Gate 1 In: 100102
        <br>
        Main Gate 1 Out: 100101
        <br>
        Main Gate 2 Out: 100105
        <br>
        <hr>
        </hr>
        Security: 9540513300<br>
        Basement guard: 680088
        <br>
        <hr>
        </hr>
        Club-1 Reception: 300101<br>
        Club-2 Reception: 300104<br>
        Club-3 Reception: 300201
        {% endblock content %}