{% extends "layout.html" %}
{% block content %}

<div class = "ihome">
    <button class="bups">Request Data</button>
  <br>
  <br>
  <div class="bbb">
  <a href="/car">
    <button class="button">Car Number </button>
  </a>
  </div>
  <div class="bbb">
  <a href="/park">
    <button class="button ">Parking Number </button>
  </a>
  </div>
  <br>
  <hr class="new5">
  <a href="/contact">
    <button class="button bup"><span>Update Your Data </span></button>
  </a>
  <br>
</div>

{% endblock content %}