{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Request Data from Parking Number</legend>
            <div class="form-group">
                {{ form.park.label(class="form-control-label") }}
                {% if form.park.errors %}
                {{ form.park(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.park.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.park(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            <button href="#" class="al bup">
                <span>{{ form.submit(style="background-color:transparent; border:none") }}</span>
                </button>
        </div>
    </form>
    {% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
            {% for p in post %}
            {{ p }}
            <br>
            {% endfor %}
        </div>
    </article>
    {% endfor %}
    {% endblock content %}